        <header>
            <div class="header-left"></div>
            <div class="header-center"><a href="/"><img class="logo" src="/img/logo.svg" /></a></div>
            <div class="header-right">
                <ul class="header-menu">
                    <li>
                        <a href="#">Guide</a>
                        <span class="dropdown-icon"></span>
                        <ul class="dropdown">
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="selected">API</a>
                        <span class="dropdown-icon"></span>
                        <ul class="dropdown">
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </li>
                    <li><a href="https://github.com/DistributedObjectProtocol">GitHub</a><li>
                </ul>
            </div>
        </header>