        <header>
            <div class="decoration decoration-header"></div>
            <div class="header-left">
                <div id="sidebar-button" class="sidebar-button"><img src="/img/collapse.svg" /></div>
            </div>
            <div class="header-center"><a href="/"><img class="logo" src="/img/logo.svg" /></a></div>
            <div class="header-right">
                <div id="header-menu-button" class="header-menu-button"><img src="/img/menu.svg" /></div>
                <ul id="header-menu" class="header-menu">
                    <li>
                        <a href="/guide/javascript/index" class="autoselect" autoselect="0,1">
                            <span class="header-menu-aunderline">Guide</span>
                            <span class="dropdown-icon"></span>

                        </a>
                        <ul class="dropdown">
                            <li><a href="/guide/javascript/index" class="autoselect" autoselect="0,2"><span>JavaScript</a></li>
                        </ul>  
                    </li>
                    <li>
                        <a href="/api/javascript/listen" class="autoselect" autoselect="0,1">
                            <span class="header-menu-aunderline">API</span>
                            <span class="dropdown-icon"></span>
                        </a>
                        <ul class="dropdown">
                            <li><a href="/api/javascript/index" class="autoselect" autoselect="0,2">JavaScript</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/transports" class="autoselect" autoselect="0,1">
                            <span class="header-menu-aunderline">Transports</span>
                        </a>
                    <li>
                    <li>
                        <a href="https://github.com/DistributedObjectProtocol">
                            <span class="header-menu-aunderline">GitHub</span>
                        </a>
                    <li>
                </ul>
            </div>
        </header>