    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">Transports</div>
            <div class="sidebar-title-category">JavaScript</div>
            <div>
                <ul>
                    <li class="sidebar-category">listen</li>
                    <li class="sidebar-link"><a href="/transports/javascript/websockets-listen" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/transports/javascript/socketio-listen" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/transports/javascript/sockjs-listen" class="autoselect">SockJS</a></li>
                </ul>
                <ul>
                    <li class="sidebar-category">connect</li>
                    <li class="sidebar-link"><a href="/transports/javascript/websockets-connect" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/transports/javascript/socketio-connect" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/transports/javascript/sockjs-connect" class="autoselect">SockJS</a></li>
                </ul>
            </div>
        </div>
    </div>