    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">API</div>
            <div class="sidebar-title-category">JavaScript</div>
            <div>
                <ul>
                    <li class="sidebar-category">dop</li>
                    <li class="sidebar-subcategory">nodes</li>
                    <li class="sidebar-link"><a href="/api/javascript/listen" class="autoselect">listen</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/connect" class="autoselect">connect</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/onSubscribe" class="autoselect">onSubscribe</a></li>
                    <li class="sidebar-subcategory">Objects &amp; mutations</li>
                    <li class="sidebar-link"><a href="#">register</a></li>
                    <li class="sidebar-link"><a href="#">observe</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/observeProperty" class="autoselect">observeProperty</a></li>
                    <li class="sidebar-link"><a href="#">createObserver</a></li>
                    <li class="sidebar-link"><a href="#">collect</a></li>

                    <li class="sidebar-category">&lt;node&gt;</li>
                    <li class="sidebar-link"><a href="#">subscribe</a></li>
                    <li class="sidebar-link"><a href="#">reconnect</a></li>
                    <li class="sidebar-link"><a href="#">disconnect</a></li>
                    <li class="sidebar-link"><a href="#">on('connect')</a></li>
                    <li class="sidebar-link"><a href="#">on('disconnect')</a></li>
                </ul>
            </div>
        </div>
    </div>