    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">Transports</div>
            <div class="sidebar-title-category">JavaScript</div>
            <div>
                <ul>
                    <li class="sidebar-category">listen</li>
                    <li class="sidebar-link"><a href="/javascript/transports/websockets" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/javascript/transports/socket.io" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/javascript/transports/sockjs" class="autoselect">SockJS</a></li>
                </ul>
                <ul>
                    <li class="sidebar-category">connect</li>
                    <li class="sidebar-link"><a href="/javascript/transports/bwebsockets" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/javascript/transports/bsocket.io" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/javascript/transports/bsockjs" class="autoselect">SockJS</a></li>
                </ul>
            </div>
        </div>
    </div>