<div id="sidebar" class="sidebar">
    <div>
        <div class="sidebar-title">Guides</div>
        <div class="sidebar-title-category">JavaScript</div>
        <div>
            <ul>
                <li class="sidebar-category">Basics</li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/installation" class="autoselect"
                        >Installation</a
                    >
                </li>

                <!-- <li class="sidebar-subcategory">Communication</li> -->
                <li class="sidebar-link">
                    <a
                        href="/guide/javascript/connecting-nodes"
                        class="autoselect"
                        >Connecting nodes</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/rpcs" class="autoselect">RPCs</a>
                </li>

                <!-- <li class="sidebar-subcategory">State Management</li> -->
                <li class="sidebar-link">
                    <a href="/guide/javascript/stores" class="autoselect"
                        >Stores</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/patches" class="autoselect"
                        >Patches</a
                    >
                </li>

                <!--
                <li class="sidebar-category">Advanced</li>
                <li class="sidebar-link">
                    <a
                        href="/guide/javascript/reverting-patches"
                        class="autoselect"
                        >Reverting patches</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >Custom types</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >RPCs without response</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/pattern" class="autoselect"
                        >Syncing state</a
                    >
                </li>

                
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >Pending responses</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >Limited functions</a
                    >
                </li>

                <li class="sidebar-category">Transports</li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >WebSockets</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect">HTTP</a>
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >WebRTC</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >Web Workers</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >MessageChannel</a
                    >
                </li>

                <li class="sidebar-category">With...</li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >React</a
                    >
                </li>
                <li class="sidebar-link">
                    <a
                        href="https://www.youtube.com/watch?v=zq6PpM5t3z0"
                        class="autoselect"
                        >Svelte</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/stub" class="autoselect"
                        >MongoDB</a
                    >
                </li>
                -->
            </ul>
        </div>
    </div>
</div>
