    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">Transports</div>
            <div class="sidebar-title-category"></div>
            <div>
                <ul>
                    <li class="sidebar-category">JavaScript</li>
                    <li class="sidebar-link"><a href="/transports/javascript/websockets" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/transports/javascript/socketio" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/transports/javascript/sockjs" class="autoselect">SockJS</a></li>
                </ul>
            </div>
        </div>
    </div>