    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">API</div>
            <div class="sidebar-title-category">JavaScript</div>
            <div>
                <ul>
                    <li class="sidebar-category">dop</li>
                    <li class="sidebar-subcategory">nodes</li>
                    <li class="sidebar-link"><a href="/api/javascript/listen" class="autoselect">listen</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/connect" class="autoselect">connect</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/onSubscribe" class="autoselect">onSubscribe</a></li>
                    <li class="sidebar-subcategory">Objects &amp; mutations</li>
                    <li class="sidebar-link"><a href="/api/javascript/register" class="autoselect">register</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/observe" class="autoselect">observe</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/observeProperty" class="autoselect">observeProperty</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/collect" class="autoselect">collect</a></li>

                    <li class="sidebar-category"><a href="/api/javascript/node" class="autoselect">&lt;node&gt;</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/subscribe" class="autoselect">subscribe</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/reconnect" class="autoselect">reconnect</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/disconnect" class="autoselect">disconnect</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/node-onconnect" class="autoselect">on('connect')</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/node-ondisconnect" class="autoselect">on('disconnect')</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/node-onreconnect" class="autoselect">on('reconnect')</a></li>

                    <li class="sidebar-category"><a href="/api/javascript/listener" class="autoselect">&lt;listener&gt;</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/listener-onconnect" class="autoselect">on('connect')</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/listener-ondisconnect" class="autoselect">on('disconnect')</a></li>
                    <li class="sidebar-link"><a href="/api/javascript/listener-onreconnect" class="autoselect">on('reconnect')</a></li>
                </ul>
            </div>
        </div>
    </div>