<div id="sidebar" class="sidebar">
    <div>
        <div class="sidebar-title">API</div>
        <div class="sidebar-title-category">JavaScript</div>
        <div>
            <ul>
                <li class="sidebar-link">
                    <a href="/api/javascript/createnode" class="autoselect"
                        >createNode</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/createstore" class="autoselect"
                        >createStore</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/applypatch" class="autoselect"
                        >applyPatch</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/encode" class="autoselect"
                        >encode</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/decode" class="autoselect"
                        >decode</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/addtype" class="autoselect"
                        >addType</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/merge" class="autoselect">merge</a>
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/factory" class="autoselect"
                        >factory</a
                    >
                </li>

                <li class="sidebar-category">
                    <a href="/api/javascript/node" class="autoselect"
                        >&lt;Node&gt;</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/node-open" class="autoselect"
                        >open</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/node-message" class="autoselect"
                        >message</a
                    >
                </li>

                
                <li class="sidebar-category">
                    <a href="/api/javascript/store" class="autoselect"
                        >&lt;Store&gt;</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/store-subscribe" class="autoselect"
                        >subscribe</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/store-unsubscribe" class="autoselect"
                        >unsubscribe</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/store-applypatch" class="autoselect"
                        >applyPatch</a
                    >
                </li>

                <li class="sidebar-category">TYPE</li>
                <li class="sidebar-link">
                    <a href="/api/javascript/type-delete" class="autoselect"
                        >Delete</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/api/javascript/type-replace" class="autoselect"
                        >Replace</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
