<div id="sidebar" class="sidebar">
    <div>
        <div class="sidebar-title">Guides</div>
        <div class="sidebar-title-category">JavaScript</div>
        <div>
            <ul>
                <li class="sidebar-category">Basics</li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/installation" class="autoselect"
                        >Installation</a
                    >
                </li>

                <li class="sidebar-subcategory">RPCs</li>
                <li class="sidebar-link">
                    <a
                        href="/guide/javascript/connecting-nodes"
                        class="autoselect"
                        >Connecting nodes</a
                    >
                </li>
                <li class="sidebar-link">
                    <a
                        href="/guide/javascript/remote-procedure-calls"
                        class="autoselect"
                        >Remote Procedure Calls</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/auth" class="autoselect">Auth</a>
                </li>

                <li class="sidebar-subcategory">Patches</li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/blabla" class="autoselect"
                        >Apply patches</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/blabla" class="autoselect"
                        >Stores</a
                    >
                </li>
                <li class="sidebar-link">
                    <a href="/guide/javascript/blabla" class="autoselect"
                        >Types</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
