    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">Transports</div>
            <div>
                <ul>
                    <li class="sidebar-category">node.js</li>
                    <li class="sidebar-link"><a href="/javascript/api/websockets" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/javascript/api/socket.io" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/javascript/api/sockjs" class="autoselect">SockJS</a></li>
                </ul>
                <ul>
                    <li class="sidebar-category">Browser</li>
                    <li class="sidebar-link"><a href="/javascript/api/websockets" class="autoselect">WebSockets</a></li>
                    <li class="sidebar-link"><a href="/javascript/api/socket.io" class="autoselect">socket.io</a></li>
                    <li class="sidebar-link"><a href="/javascript/api/sockjs" class="autoselect">SockJS</a></li>
                </ul>
            </div>
        </div>
    </div>