    <div id="sidebar" class="sidebar">
        <div>
            <div class="sidebar-title">Guide</div>
            <div class="sidebar-title-category">JavaScript</div>
            <div>
                <ul>
                    <li class="sidebar-category"></li>
                    <li class="sidebar-link">&#9675; &nbsp;<a href="/guide/javascript/installation" class="autoselect">Installation</a></li>
                    <li class="sidebar-link">&#9675; &nbsp;<a href="/guide/javascript/connecting-nodes" class="autoselect">Connecting nodes</a></li>
                    <li class="sidebar-link">&#9675; &nbsp;<a href="/guide/javascript/using-multiple-transports" class="autoselect">Using multiple transports</a></li>
                    <li class="sidebar-link">&#9675; &nbsp;<a href="/guide/javascript/subscribing" class="autoselect">Subscribing</a></li>
                    <li class="sidebar-link">&#9675; &nbsp;<a href="/guide/javascript/mutating-objects" class="autoselect">Mutating objects</a></li>
                    <li class="sidebar-link">&#9675; &nbsp;<a href="/guide/javascript/remote-procedure-calls" class="autoselect">Remote procedure calls</a></li>
                </ul>
            </div>
        </div>
    </div>