html, body {
    height: 100%
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../img/background.png') #fff fixed;
    margin: 0;
    color: #222;
}
a {
    color:#000
}
a:hover {
    color: #777;
}



#container {
    min-height: calc(100% - 61px);
    position: relative;
}
#content {
    padding-top: 100px;
}


.decoration {
    /*background: #fc4768;*/
    width: 100%;
    height: 3px;
    /*background: linear-gradient(253deg, #43f2c5, #0e4637, #f0ca0f);*/
    background: linear-gradient(90deg, 
      #fc4768,
      #fb7793,
      #fdcd66,
      #fbcf8c, 
      #fbcf8c, 
      #fdcd66,
      #fb7793,
      #fc4768);
    background-size: 300%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.decoration-header {
    position: fixed;
    top: 0;
    z-index: 3;
}
.decoration-footer {
    bottom: 0;
    position: relative;
}










header {
    top:3px;
    width:100%;
    height: 43px;
    position: fixed;
    /*background: url('../img/background.png') #fff;*/
    background: #fff;
    z-index: 4;
}



header > div {
    float:left;
    height: 100%;
}



.clear {
    clear: both
}
.center {
    text-align: center
}


.header-left, .header-right {
    width: calc(50% - 40px);
    border-bottom: 3px double #d3d3d3;
    height: 40px;
}
.header-center {
    width: 80px;
    padding-top: 21px;
}


.logo {
    width: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
    /*filter: drop-shadow( 1px 1px 0px #fff);*/
}

.h1 {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -1px;
}


.header-right {
    text-align:right;
    /* position: absolute; */
    /* right: 0; */
}

.header-menu {
    list-style-type: none;
    margin: 0;
    right: 0;
    /* padding-top: 10px; */
    position: absolute;
}

.header-menu > li {
    display: inline-block;
    position: relative;
}
.header-menu > li > a {
    font-size: 14px;
    text-decoration: none;
    color: #7a7a7a;
    font-weight: 900;
    display: inline-block;
    padding: 12px 15px 15px 10px;
}
.header-menu > li > a.selected .header-menu-aunderline, 
.header-menu > li > a:hover .header-menu-aunderline {
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 10px
}
.header-menu > li:hover .dropdown {
    display: block
}
.header-menu-button {
    display: none
}
.sidebar-button {
    display: none;
}



.dropdown-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #bbb;
}
.dropdown {
    display: none; 
    overflow-y: auto;
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #dbdbdb;
    text-align: left;
    border-radius: 4px;
    white-space: nowrap;
    position: absolute;
    top: calc(100% + -3px);
    right: -4px;
    overflow-y: scroll;
    min-width: 150px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,.1);
}

.dropdown li {
    display: block;
}

.dropdown a {
    font-weight: 400;
    font-size: 13px;
    color: #7a7a7a;
    text-decoration: none;
    display: block;
    padding: 0px 15px;
    line-height: 25px;
}
.dropdown a:hover,
.dropdown a.selected {
    color: #222;
    background-color: #f5f5f5
}

footer {
    background: black;
    border-bottom: 20px;
    color: #a1a1a1;
    height: 58px;
    box-shadow: 0px -4px rgba(0,0,0,.1);
    clear: both;
    width: 100%;
    z-index: 2;
    position: relative;
}
footer > div { 
    float:left;
    width: 33%;
    height: 100%;
}
footer > div > div { 
    padding-top: 22px;
}
.footer-left > div {
    font-size:13px;
    padding-left: 20px
}
.footer-center {
    width: 34%;
}
.footer-center > div {
    text-align: center;
    width: 100%;
    height: calc(100% - 20px);
    padding-top: 17px;
}
.footer-right > div {
    float: right;
    padding-right: 20px
}
.footer-center img {
    width: 35px;
    filter:invert(.4)
}

.footer-right > div {
    float: right;
    padding-top: 17px
}
.footer-right ul {
    padding: 0;
    margin: 0;
}
.footer-right li {
    display: inline-block;
    margin-left: 10px;
}
.footer-right img {
    width: 24px;
}










/************************/
/****** INDEX PAGE ******/
/************************/


.slides {
    text-align: center;
    position: relative;
    margin-top: 46px; 
    height: calc(100% - 46px);
    width: 100%;
}

.slides-arrows div {
    height: 100%;
    position: absolute;
    width: 100px;
    cursor: pointer;
    z-index: 1;
}
.slides-arrowleft {
    left: 0;
}
.slides-arrowright {
    right: 0;
}
.slides-arrows img {
    width: 50px;
    display: block;
    position: relative;
    top: calc(50% - 25px);
    margin: 0 auto;
    opacity: .3
}
.slides-arrows div:hover img {
    opacity: 1
}
.slides-arrowleft img {
    transform: rotate(180deg);
}
.slides-text {
    position: absolute;
    width: 100%;
    bottom: 15px
}
.slides-text > div {
    opacity: 0;
    position: relative;
    background: black;
    color: white;
    text-align: center;
    /* left: -50%; */
    max-width: 650px;
    padding: 15px 25px;
    /* font-weight: 600; */
    font-size: 16px;
    cursor: default;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border-radius: 2px;
    /* box-shadow: 4px 4px 1px rgba(0,0,0,0.2); */
    margin: 0 auto;
}
.slide #svg {
    max-width: 1200px !important;
}

.slides-claim {
    display: block;
    position: absolute;
    top: 28%;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.slides-claim > div {
    /* position: relative; */
    /* left: -50%; */
    width: 100%;
    text-align: center;
}
.slides-title {
    font-size: 3.4vw; /*42px;*/
    letter-spacing: -1.5px;
}
.slides-description {
    font-size: 1.55vw; /*19.1px;*/
    /* letter-spacing: -.5px; */
    /* line-height: 23px; */
    color: #999999;
}
#slides-count {
    position: absolute;
    right: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #ccc;
    top: 0;
}
#slides-percentage {
    position: absolute;
    bottom: 4px;
    width: 0;
    height: 5px;
    background: rgba(0,0,0,.2);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}


/*.transports {
        
    background: #f6f6f6;
    border-top: 1px solid #EEE;    
    background: linear-gradient(135deg,  rgba(255,255,255,.5) 0%,#f3f3f3 52%,rgba(255,255,255,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    
}*/
.transports {
    padding-bottom: 50px;
}
.transports-title {
    text-align: center;
    margin-top:60px;
    color: #999;
    font-weight: 100
}
.transports-table {
    margin-top: 60px;
}
.transports-table table {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse:collapse;
}
.transports-table th, .transports-table td {
    border: 1px dotted #AAA;
}
.transports-table th {
    border-top: 0;
    padding-top: 0;
    width: 110px;
    padding-bottom: 10px;
    color: #666;
    font-weight: 400;
}
.transports-table th:first-child, .transports-table td:first-child {
    border-left:0
}
.transports-table th:last-child, .transports-table td:last-child {
    border-right:0
}
.transports-table tr:last-child td {
    border-bottom:0
}

.transports-table th img {
    height: 70px;
}

.transports-table td {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
}

.transports-table td:first-child {
    width: 165px;
    padding: 7px 0;
    text-align: left;
}

.transports-table td img {
    height: 20px;
    display: inline-block;
}

.transports-table td span {
    font-size: 26px;
    line-height: 0;
    font-weight: 400;
}

.transports-table td:first-child span {
    font-size: 11px;
    color: #bbb;
    display: inherit;
    line-height: 10px;
}








/****************************/
/****** NOT FOUND PAGE ******/
/****************************/

.notfound {
    font-size: 170px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    padding-top: 100px;
}
.notfound span {
    display: block;
    font-size: 38px;
    font-weight: 100;
}








/****************************/
/****** DOCS PAGE ******/
/****************************/

.page {
    width: 100%;
    background: white;
    /*height: calc(100% - 50px);*/
    padding-bottom: 30px;
    padding-top: 46px;
    /*position: relative;*/
    /*width: 100%;*/
}
.page > div {
    /* float: left; */
}
.page-document {
    padding-top: 35px;
    /* width: calc(100% - 275px); */
    margin-left: 250px;
    padding-left: 50px;
    padding-right: 40px;
    background: rgba(255,255,255,1);
}

.page-document-edit {
    position: fixed;
    right: 35px;
    z-index: 1;
}
.page-document-edit a {
    opacity: .2;
    display: block;
}
.page-document-edit a:hover {
    opacity: 1
}

.sidebar {
    width: 250px;
    /*background: #fff;*/
    height: calc(100% - 46px);
    position: fixed;
    overflow-y: scroll;
    /* margin-right: 250px; */
    /* top: 46px; */
    /*box-shadow: 5px -2px 0px 0px rgba(0,0,0,.1); */
    /*border-right: 3px double #ddd;*/
    background: -webkit-linear-gradient(left, #ffffff 0%, #f5f5f5 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #f5f5f5 100%);
    background: linear-gradient(to right, #ffffff 0%, #f5f5f5 100%);
}

.sidebar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 1em;
  cursor: grab;
}
.sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.02);
}

.sidebar > div {
    padding: 35px;
    padding-bottom: 100px;
}

.sidebar-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 17px;
}
.sidebar-title-category {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
    font-weight: bold;
    color: #ccc;
    font-size: 12px;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar li {
    list-style: none;
}
.sidebar a {
    text-decoration: none;
}
.sidebar-category {
    font-weight: 100;
    padding-top: 15px;
    font-size: 19px;
    letter-spacing: -0.5px;
    color: #ff5977;
}
.sidebar-subcategory {
    font-size: 11px;
    color: #ccc !important;
}
.sidebar-link {
    line-height: 23px
}
.sidebar-link a:hover,
.sidebar-link a.selected {
    color: #777;
    border-bottom: 1px solid #ccc
}










.h0, .page-document > h1:first-of-type {
    padding: 0;
    margin: 0;
    font-size: 3.7em;
    line-height: 44px;
    border-bottom: 0;
    margin-bottom: 30px;
    letter-spacing: -2px;
}

.page-document-path {
    font-weight: bold;
    color: #aaa;
    font-size: 1em;
    padding-left: 2px;
}