

/*********** MAX-750 **********/
@media only screen and (max-width: 750px) and (orientation: portrait) {
.slides {
    height: 40%;
}
.slides-arrowright img {
    float: right;
    margin-right: 10px;
}
.slides-arrowleft img {
    margin-left: 10px;
    float: left
}
}


@media screen and (max-width: 750px){
/*.slides {
    margin-top: 5%;
}*/
.slides-text {
    /* left: auto; */
    bottom: 10px;
}
.slides-arrows img {
    width: 25px;
    top: calc(50% - 12.5px);
}


.slides-text > div {
    left: auto;
    width: 100%;
    max-width: 450px;
    padding: 5px 8px;
    font-size: 11px;
    margin: 0 auto;
}
.slides-title {
    font-size: 3.4vw; /*42px;*/
    letter-spacing: -.5px;
}
}
/*********** MAX-750 **********/
