<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Distributed Object Protocol</title>
        <% include ../partials/head %>
    </head>
    <body>
            <% include ../partials/header %>
            <div id="container">
                <div id="content">
                    <div class="notfound">404<span>Page not found</span></div>
                </div>
            </div>
            
            <% include ../partials/footer %>
    </body>
    <% include ../partials/scripts %>
</html>
