<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Distributed Object Protocol</title>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/markdown.css">
    </head>
    <body>
        <% include ../partials/header %>
        <div id="container" class="page">
                    <div class="page-sidebar">
                        <div>
                            <div class="page-sidebar-title">API</div>
                            <div>
                                <ul>
                                    <li class="page-sidebar-category">dop</li>
                                    <li class="page-sidebar-subcategory">Objects &amp; mutations</li>
                                    <li class="page-sidebar-link"><a href="#">register</a></li>
                                    <li class="page-sidebar-link"><a href="#">set</a></li>
                                    <li class="page-sidebar-link"><a href="#">del</a></li>
                                    <li class="page-sidebar-link"><a href="#">observe</a></li>
                                    <li class="page-sidebar-link"><a href="/javascript/api/observeProperty" class="autoselect">observeProperty</a></li>
                                    <li class="page-sidebar-link"><a href="#">collect</a></li>
                                    <li class="page-sidebar-link"><a href="#">createObserver</a></li>
                                    <li class="page-sidebar-subcategory">nodes</li>
                                    <li class="page-sidebar-link"><a href="#">listen</a></li>
                                    <li class="page-sidebar-link"><a href="#">connect</a></li>
                                    <li class="page-sidebar-link"><a href="#">onSubscribe</a></li>

                                    <li class="page-sidebar-category">&lt;node&gt;</li>
                                    <li class="page-sidebar-link"><a href="#">register</a></li>
                                    <li class="page-sidebar-link"><a href="#">set</a></li>
                                    <li class="page-sidebar-link"><a href="#">del</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="page-document">
                        <div class="page-document-path"><%= type.toUpperCase() %> / <%= language %> /</div>
                        <%- content %>
                    </div>
                <div class="clear"></div>
        </div>
        <% include ../partials/footer %>
    </body>
    <script src="/lib/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <% include ../partials/scripts %>
</html>
