<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Distributed Object Protocol</title>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/markdown.css">
        <link rel="stylesheet" href="/css/highlight.css">
    </head>
    <body>
        <div id="container">
            <% include ../partials/header %>
            <div id="content">
                <div class="page">
                    <div class="page-sidebar">a</div>
                    <div class="page-document"><%- content %></div>
                </div>
                <div class="clear"></div>
            </div>
            <% include ../partials/footer %>
        </div>
    </body>
    <script src="/lib/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <% include ../partials/scripts %>
</html>
