<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Distributed Object Protocol</title>
        <% include ../partials/head %>
    </head>
    <body>
            <% include ../partials/header %>
            <div id="container">
                <div id="content">
                    <div class="examples">

                    <div class="example">
                    React + dop
                    <iframe
                            src="https://codesandbox.io/embed/react-dop-nhj0j?fontsize=14&hidenavigation=1&theme=dark"
                            style="width:100%;height:500px; border:0; border-radius: 4px; overflow:hidden; margin-left"
                            title="React + dop"
                            allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr"
                            sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
                    ></iframe>
                    </div>
                    
                    <div class="example">
                    React + dop + WebSockets (node.js)
                    <iframe
                    src="https://codesandbox.io/embed/react-dop-websockets-stub-r389y?fontsize=14&hidenavigation=1&theme=dark"
                    style="width:100%;height:500px;border:0;border-radius:4px; overflow:hidden;"
                    title="React + dop + WebSockets"
                    allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr"
                    sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
                    ></iframe>
                    </div>

                    </div>
                </div>
            </div>
            
            <% include ../partials/footer %>
    </body>
    <% include ../partials/scripts %>
</html>
