<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Distributed Object Protocol</title>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/markdown.css" />
    </head>
    <body>
        <% include ../partials/header %>
        <div class="page-document-inner">
            <%- content %>
        </div>
        <% include ../partials/footer %>
    </body>
    <script src="/lib/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad()
    </script>
    <% include ../partials/scripts %>
</html>
