<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Distributed Object Protocol</title>
        <% include ../partials/head %>
    </head>
    <body onload="init();">
        <% include ../partials/header %>
        <div id="slides">
            <div class="slides-arrows">
                <div id="prevBtn" class="slides-arrowleft">
                    <img src="/img/arrow.svg" />
                </div>
                <div id="nextBtn" class="slides-arrowright">
                    <img src="/img/arrow.svg" />
                </div>
            </div>
            <div class="slides-claim" id="claim">
                <div>
                    <div class="slides-title">
                        <strong>Distributed Object Protocol</strong> is for
                    </div>
                    <div class="slides-description">
                        <strong>State management</strong>, Remote procedure
                        calls, Data sync, Pub/Sub,<br />
                        Reactive programming, Time travel, Optimistic
                        updates,<br />
                        Unidirectional data flow,
                        <strong>Real time apps.</strong>
                    </div>
                </div>
            </div>
            <div class="slides-text"><div id="text"></div></div>
            <!-- <div id="slides-percentage"></div> -->
            <div id="slides-count"></div>
            <div
                id="animation_container"
                style="background-color:rgba(255, 255, 255, 0.00); width:1200px; height:600px"
            >
                <canvas
                    id="canvas"
                    width="1200"
                    height="600"
                    style="position: absolute; display: block; background-color:rgba(255, 255, 255, 0.00);"
                ></canvas>
                <div
                    id="dom_overlay_container"
                    style="pointer-events:none; overflow:hidden; width:1200px; height:600px; position: absolute; left: 0px; top: 0px; display: block;"
                ></div>
            </div>
        </div>

        <div id="middle">
            

            <div class="middlerow">
                <div class="middlecol">
                    <div class="middletitle">State Management</div>
                    <div class="middletext">
                        Distributed Object Protocol is for
        State management, Remote procedure calls, Data sync, Pub/Sub,
        Reactive programming, Time travel, Optimistic updates,
        Unidirectional data flow, Real time apps.
        While one of the largest acquisitions in the space, I still find the price tag (rumored to be $400M) very cheap...for a company like Binance.
                    </div>
                    <div class="middlebutton">
                        <button class="button">Show me code</button>
                    </div>

                </div>
                <div class="middlecol">
                    <div class="middletitle">State Management</div>
                    <div class="middletext">
                        Distributed Object Protocol is for
        State management, Remote procedure calls, Data sync, Pub/Sub,
        Reactive programming, Time travel, Optimistic updates,
        Unidirectional data flow, Real time apps. No, *you* shouldn't pay $400M. But no doubt Binance will easily get >$400M of value, even in medium term.
                    </div>
                    <div class="middlebutton">
                        <button class="button">Show me code</button>
                    </div>
                </div>
            </div>

            <div class="middlerow">
                <div class="middlecol">
                    <div class="middletitle">State Management</div>
                    <div class="middletext">
                        Distributed Object Protocol is for
        State management, Remote procedure calls, Data sync, Pub/Sub,
        Reactive programming, Time travel, Optimistic updates,
        Unidirectional data flow, Real time apps.
                    </div>
                    <div class="middlebutton">
                        <button class="button">Show me code</button>
                    </div>
                </div>
                <div class="middlecol">
                    <div class="middletitle">State Management</div>
                    <div class="middletext">
                        Distributed Object Protocol is for
        State management, Remote procedure calls, Data sync, Pub/Sub,
        Reactive programming, Time travel, Optimistic updates,
        Unidirectional data flow, Real time apps.
        While one of the largest acquisitions in
                    </div>
                    <div class="middlebutton">
                        <button class="button">Show me code</button>
                    </div>
                </div>
            </div>

            
            <div class="middlerow">
                <div class="middlecol">
                    <div class="middletitle">State Management</div>
                    <div class="middletext">
                        Distributed Object Protocol is for
        State management, Remote procedure calls, Data sync, Pub/Sub,
        Reactive programming, Time travel, Optimistic updates,
        Unidirectional data flow, Real time apps.
                    </div>
                    <div class="middlebutton">
                        <button class="button">Show me code</button>
                    </div>
                </div>
                <div class="middlecol">
                    <div class="middletitle">State Management</div>
                    <div class="middletext">
                        Distributed Object Protocol is for
        State management, Remote procedure calls, Data sync, Pub/Sub,
        Reactive programming, Time travel, Optimistic updates,
        Unidirectional data flow, Real time apps.
                    </div>
                    <div class="middlebutton">
                        <button class="button">Show me code</button>
                    </div>
                </div>
            </div>

            <div id="starttheguide">
                <button class="button big">Start the Guide</button>
            </div>




        </div>

        <div id="bundle">
            <div id="bundletop">BUNDLE SIZE</div>
            <div id="bundlecontent">
                <div class="bundlecol">
                    <div class="bundlenumber">8.3<span>kB</span></div>
                    <div class="bundlelabel">MINIFIED</div>
                </div>
                <div class="bundlecol">
                    <div class="bundlenumber">3.1<span>kB</span></div>
                    <div class="bundlelabel">GZIPPED</div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>
    </body>
    <% include ../partials/scripts %>
</html>
